entrypoint = "main.py"
modules = ["python-3.10:v18-20230807-322e88b"]

[nix]
channel = "stable-23_05"

[unitTest]
language = "python3"

[gitHubImport]
requiredFiles = [".replit", "replit.nix"]

[deployment]
run = ["python3", "main.py"]
deploymentTarget = "cloudrun"

[[ports]]
localPort = 9000
externalPort = 80

[[ports]]
localPort = 9001
externalPort = 3000

[[ports]]
localPort = 9002
externalPort = 3001

[[ports]]
localPort = 9003
externalPort = 3002

[[ports]]
localPort = 9004
externalPort = 3003

[[ports]]
localPort = 9005
externalPort = 4200

[[ports]]
localPort = 9006
externalPort = 5000

[[ports]]
localPort = 9007
externalPort = 5173

[[ports]]
localPort = 9008
externalPort = 6000
exposeLocalhost = true

[[ports]]
localPort = 9009
externalPort = 6800
exposeLocalhost = true

[[ports]]
localPort = 9010
externalPort = 8000
exposeLocalhost = true

[[ports]]
localPort = 9011
externalPort = 8008
exposeLocalhost = true

[[ports]]
localPort = 9012
externalPort = 8080
exposeLocalhost = true
